{%extends 'base.html'%}

{% block content%}
    <div class="container">

        {% for image in images %}
        <div class="row">
            <div class=" col-md-3 ">
            </div>

            <div class=" col-md-6 mx-auto">
                <div class="card mb-2">
                <div class="card">
                    <div class="card-header">
                            <span><img src="{{image.user.profile.profile_photo.url}}" id="cardHeader" alt="" data-target="#{{image.image_name}}{{image.id}}"
                            data-toggle="modal"
                                style="border-radius: 50%; width:50px; height:50px; border-color: brown; border-width: 1px;"></span>
                            <div>
                                <p class="userName">{{image.user.username}}</p>
                            </div>
                        <p>{{image_caption}}</p>
                    </div>
                    <img src="{{image.image.url}}" alt="" class="img-thumbnail img-responsive img-fluid">
                    <div class="">
                        <div class="tablinks">
                                <a href="{% url 'likes' image.id%}" style="font-size: 15px;">Like</a>
                                <a href="{% url 'newComment' image.id%}" style="font-size: 15px;">Add Comment</a>
                                <a href="{% url 'comments' image.id %}"style="font-size: 15px;">view comments</a>
                                <a href=""><i class="fab fa-telegram-plane " class="btn btn-outline-info btn-sm"></i></i></a>
                                <a href=""><i class="far fa-bookmark"></i></a>                
                        </div>
                        <div class="likes">
                            {{image.likes}} Likes
                            <p class="mr-auto" class="capt">{{image.image_caption}}</p>
                        </div>      
                    </div>
                    </div>
                    </div>
            </div>
            <div class=" col-md-2 ">
        </div>

        <div class="modal fade" id="{{image.image_name}}{{image.id}}" tabindex="-1" role="dialog"
            aria-labelledby="examplemodal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title text-center" id="modaltitle"> <span class="badge badge-success">Image Name: {{ image.image_name }}</span>
                    </div>
                    <div class="modal-body text-center">
                        <img src="{{image.image.url}}" alt="" width="100%" height="100%" class="img-top">
                    </div>
                    <div class="modal-footer">
                        <p><span class="badge badge-warning">Image Caption:</span> {{ image.image_caption }}</p>

                        <button type="button" class="btn btn-sm btn-outline-info" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endblock %}